hmtl, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #181818;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

.anchor-div {
  position: relative;
  float: right;
}

.anchor-btn-div {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 10%;
}

.anchor-arrow-btn {
  text-decoration: none;
  color: white;
  height: 5%;
  width: 5%;
}

.anchor-arrow-btn svg {
  height: 5vh;
  width: 5vw;
}

.header-div {
  background-color: #181818;
  color: white;
}

.header-information {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-content: center;
}

.header-buttons-div {
  display: flex;
}

.header-name {
  color: #00ff40;
  font-size: 1.5rem;
}

.menu-item {
  margin-left: 10%;
  align-self: center;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

.menu-item:hover {
  color: #00ff40;
}

.main-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image: url('./images/backgroundImg.jpg');
  background-size: cover;
  color: white;
  text-align: center;
  align-items: center;
}

.main-informations {
  background-color: rgba(9, 9, 9, 0.9);
  border-radius: 10%;
  margin-top: 20vh;
  margin-bottom: 20vh;
  max-height: 80vh;
  padding: 2%;
}

.main-hero-img {
  height: 25vh;
  width: 15vw;
  border-radius: 50%;
  border: solid #00ff40 5px;
}

.main-hero-subtitle {
  color: #00ff40;
}

.social-medias {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
}

.linkedin:hover {
  color: rgb(40, 103, 178);
}

.whatsapp:hover {
  color: rgb(37, 211, 102)
}

.social-items {
  width: 7vw;
  height: 7vh;
  padding: 2%;
  text-decoration: none;
  color: white;
}

.about-section {
  height: 100vh;
  color: white;
  background-color: #181818;
}

.about-hero-session {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  margin-left: 45%;
  margin-right: 45%;
}

hr {
  width: 30vw;
  color: white;
}

.about-light-icon {
  height: 10vh;
  width: 10vw;
  color: #00ff40;
  padding-top: 10%;
}

.about-text-session {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  max-width: 80%;
  margin-left: 30%;
  margin-right: 30%;
}

.about-hero-title {
  text-align: center;
  padding-top: 5%;
}

.about-hello-text {
  color: #00ff40;
  font-size: 2rem;
}

.about-text {
  align-self: center;
  margin-left: 3%;
  font-size: 1.5rem;
}

.about-more-info {
  margin-top: 3%;
  text-align: center;
}

.about-interest {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}

.interest-item {
  padding: 1%;
  background-color: rgb(9, 9, 9);
  border-radius: 5%;
  margin-top: 0.5%;
  margin-left: 1%;
}

.projects-session {
  height: 100vh;
  color: white;
}

.projects-proj-icon {
  height: 10vh;
  width: 10vw;
  color: #00ff40;
  margin-left: 45%;
  margin-right: 45%;
}

.github-icon {
  width: 7%;
  height: 7%;
  text-decoration: none;
  color: white;
  margin-left: 1%;
}

.projects-hero-title {
  text-align: center;
}

.projects-hero-paragraph {
  text-align: center;
  margin-top: 2%;
  font-size: 1.5rem;
  margin-left: 30%;
  margin-right: 30%;
}

.projects-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2%;
  margin-bottom: 2%;
}

.project-card {
  width: 22%;
  height: 20%;
  overflow: hidden;
  transition: 1s;
  text-align: center;
  border: solid 1px whitesmoke;
  border-radius: 5%;
}

.project-card:hover {
  width: 25%;
  height: 25%;
  transition: 1s;
}

.project-image-div img {
  width: 100%;
  height: 25%;
}

.project-text-div {
  border: 2px solid white;
  padding: 5%;
}

.project-text {
  font-size: 1rem;
}

.project-github-icon {
  height: 5vh;
  width: 5vw;
}

.contact-session {
  height: 100vh;
}

.contact-form {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  background-color: rgba(9, 9, 9, 0.9);
  padding: 3%;
  border-radius: 2%;
  width: 50%;
  height: 50%;
}

.contact-main {
  margin-left: 45%;
  margin-right: 45%;
}

.contact-div {
  display: flex;
  justify-content: center;
}

.contact-info-paragraph {
  color: white;
  font-size: 1.3rem;
}

.contact-hero-title {
  color: white;
  text-align: center;
}

.contact-mail-icon {
  color: #00ff40;
  width: 10vw;
  height: 10vh;
  padding-top: 10%;
}

.contact-paragraph {
  color: white;
  font-size: 1.3rem;
  text-align: center;
}

.contact-confirmation {
  color: #00ff40;
}

form input {
  margin-bottom: 1%;
  height: 5vh;
}

form textarea {
  height: 10vh;
}

textarea {
  resize: none;
}

@media screen and (max-width:960px) and (max-height: 640px) {
  .about-more-info {
    display: none;
    visibility: hidden;
  }

  .about-text {
    font-size: 1.2rem;
  }

  .projects-hero-paragraph {
    font-size: 1rem;
  }

  .project-text {
    font-size: 0.9rem;
  }

  .contact-session {
    margin-top: 10%;
  }
}